<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Election Sim</title>
	
	<meta name="description" content="A simple election calculator">
	<meta name="author" content="Joshua Leasure">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
</head>

<body>
	<div id="app" class="container">
		<div class="row">
			<div class="six columns">
				
				<h5>Candidates</h5>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(candidate, index) in candidates" v-if="candidate != 'none'" >
							<td><input type="text" v-model="candidates[index]" /></td>
							<td><input type="button" v-if="candidates.length > 2" v-on:click="removeCandidateRow(index)" value="Remove" /></td>
						</tr>
						<tr>
							<td><input type="button" value="New" v-on:click="addCandidateRow"/></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				
							</div>
			<div class="six columns">
				<h5>Notes</h5>
				<p>It ain't pretty, but it works (I think)</p>
				<p><b>Will not work on Internet Explorer</b> (sorry, not sorry)</p>
				<p>If you change the name of a candidate you'll have to reselect them on ballots. I'll fix this... sometime. Otherwise it should be pretty straightforward</p>
				<p>If you find a bug or would like to contribute -> <a href="https://github.com/revmen/election-sim">https://github.com/revmen/election-sim</a></p>
			</div>
		</div>
		
		<div class="row">
			<div class="twelve columns">
				
				<h5>Ballots</h5>
				<table>
					<thead>
						<tr>
							<th>Type</th>
							<th v-for="r in candidates.length - 2">Rank {{ r }}</th>
							<th>Number</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(ballot, index) in ballots" >
							<td><input type="text" v-model="ballot.name"/></td>
							
							<td v-for="(choice, i) in ballot.choices">
								<select v-model="ballot.choices[i]">
									<option v-for="c in candidates" >{{c}}</option>
								</select>
							</td>
							
							<td><input type="number" v-model="ballot.count" style="width:80px" /></td>
							
							<td v-if="ballots.length > 1">
								<input type="button" value="&#x25B2;" v-on:click="ballotRowUp(index)" />
								<input type="button" value="&#x25BC;" v-on:click="ballotRowDown(index)" />
								<input type="button" value="X" v-on:click="removeBallotRow(index)" />
							</td>
							<td v-else></td>
						</tr>
						<tr>
							<td v-bind:colspan="candidates.length - 1"><input type="button" value="New" v-on:click="addBallotRow" /></td>
							<td>{{ totalBallots() }}</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
				
		<div class="row">
			<div class="six columns">
				
				<h5>Results</h5>
				<table>
					<thead>
						<tr>
							<th>System</th>
							<th>Winner</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Plurality</td>
							<td>{{ pluralityWinner() }}</td>
						</tr>
						<tr>
							<td>Approval</td>
							<td>{{ approvalWinner() }}</td>
						</tr>
						<tr>
							<td>Instant Runoff</td>
							<td>{{irvWinner() }}</td>
						</tr>
					</tbody>
				</table>
				
			</div>
			<div class="six columns">
				<h5>Tallies</h5>
				<table>
					<thead>
						<tr>
							<th>Candidate</th>
							<th v-for="r in candidates.length - 2">Rank {{ r }}</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="tally in tallies()" >
							<td>{{ tally.candidate }}</td>
							<td v-for="(t, i) in tally.counts" >
								{{ t }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.16.3/lodash.min.js"></script>
<script src="irv.js"></script>
<script src="fptp.js"></script>
<script src="approval.js"></script>

<script>

	/* global _ Vue irvWinner pluralityWinner approvalWinner */

	var data = {};
	data.candidates = ["none", "Coke", "Pepsi", "Dr Pepper"];
	
	data.ballots = [
		{name: "Coke Only", choices: ["Coke", "none"], count: 48},
		{name: "Pepsi > Coke", choices: ["Pepsi", "Coke"], count: 3},
		{name: "Pepsi > Dr Pepper", choices: ["Pepsi", "Dr Pepper"], count: 19},
		{name: "Dr Pepper > Pepsi", choices: ["Dr Pepper", "Pepsi"], count: 30}
	];
	
	var methods = {};
	
	
	methods.addCandidateRow = function() {
		var name = "Candidate " + data.candidates.length;
		data.candidates.push(name)
		_.forEach(data.ballots, function(b) {
			b.choices.push("none");
		});
	}
	
	methods.removeCandidateRow = function(index) {
		var name = data.candidates[index];
		
		_.forEach(data.ballots, function(b, i) {
			
			//identify all indices with this candidate, overwrite with "none" and record highest index
			var highest = -1
			for (var j=0; j < b.choices.length; j++) {
				if (b.choices[j] === name) {
					data.ballots[i].choices[j] = "none";
					highest = j;
				}
			}
			
			data.ballots[i].choices.splice(highest, 1);
			
		});
		
		data.candidates.splice(index, 1);
	}
	
	methods.addBallotRow = function() {
		var ballot = {name: "Ballots", count: 0}
		ballot.choices = Array.apply(null, Array(data.candidates.length - 2)).map(String.prototype.valueOf,"none");
		data.ballots.push(ballot);
	};
	
	methods.removeBallotRow = function(index) {
		data.ballots.splice(index, 1);
	}

	methods.ballotRowUp = function(index) {
		if (index === 0) return;
		data.ballots.move(index, index - 1);
	}
	
	methods.ballotRowDown = function(index) {
		if (index >= data.ballots.length - 1) return;
		data.ballots.move(index, index + 1);
	}
	
	function totalBallots() {
		return _.sumBy(data.ballots, function(b) {
			return b.count;
		});
	}
	
	methods.totalBallots = totalBallots;
	
	function tallies() {
		var tallies = _.filter(data.candidates, function(c) {
			return c != "none";
		});
		
		return _.map(tallies, function(t) {
			
			var tally = {candidate: t, counts: Array.apply(null, Array(data.candidates.length - 1)).map(Number.prototype.valueOf,0)};
			
			_.forEach(data.ballots, function(b) {
				for (var i=0; i < b.choices.length; i++) {
					if (b.choices[i] === tally.candidate) {
						tally.counts[i] += b.count;
						tally.counts[b.choices.length] += b.count;
					}
				}
			});
			
			return tally;
		});
	}
	
	methods.tallies = tallies;
	
	methods.irvWinner = function() {
		return irvWinner(data.candidates, data.ballots);
	}
	
	methods.pluralityWinner = function() {
		return pluralityWinner(data.candidates, data.ballots);
	}
	
	methods.approvalWinner = function() {
		return approvalWinner(data.candidates, data.ballots);
	};
	
	var app = new Vue({
		el: "#app",
		data() { return data },
		methods: methods
	});
	
	Array.prototype.move = function (old_index, new_index) {
	    if (new_index >= this.length) {
	        var k = new_index - this.length;
	        while ((k--) + 1) {
	            this.push(undefined);
	        }
	    }
	    this.splice(new_index, 0, this.splice(old_index, 1)[0]);
	};
	
</script>

</html>
